parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
            - '#Call to an undefined method Oro\\Bundle\\UserBundle\\Entity\\Role::setExtendDescription\(\)#'
