<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        convertDeprecationsToExceptions="false"
        stopOnFailure="false"
        colors="true"
>
  <coverage includeUncoveredFiles="true" processUncoveredFiles="true">
    <include>
      <directory>src</directory>
    </include>
    <report>
      <clover outputFile="./clover.xml"/>
    </report>
  </coverage>
  <php>
    <const name="PHPUNIT" value="1"/>
  </php>
  <testsuites>
    <testsuite name="OroBasicsBundle Test Suite">
      <directory>./tests/Tests/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <!-- and this is where your report will be written -->
  </logging>
</phpunit>
