system_configuration:
    groups:
        ehdev_basics_settings:
            title: ehdev.basics.system_configuration.groups.settings.title
            icon: fa-plug
        ehdev_basics_apikeys:
            icon: fa-google
            title: ehdev.basics.system_configuration.groups.apikeys.title
        ehdev_basics_googlemaps:
            title: ehdev.basics.system_configuration.groups.google_maps_key.title
            priority: 50
            tooltip: ehdev.basics.system_configuration.groups.google_maps_key.tooltip
        ehdev_basics_message_queue:
            title: ehdev.basics.system_configuration.groups.message_queue.title
            priority: 60
            tooltip: ehdev.basics.system_configuration.groups.message_queue.tooltip

    fields:
        ehdev_basics.googlemaps_api_key:
            data_type: string
            type: Symfony\Component\Form\Extension\Core\Type\TextType
            ui_only: true
            options:
                label: ehdev.basics.system_configuration.groups.google_maps_key.title
                resettable: false
                required: false
            priority: 30
        ehdev_basics.bg_username:
            data_type: string
            type: EHDev\BasicsBundle\Form\Type\OroUsernameChoiceType
            ui_only: true
            options:
                label: ehdev.basics.system_configuration.groups.bg_username.title
                resettable: false
                required: false
            priority: 10
        ehdev_basics.bg_organization:
            data_type: string
            type: EHDev\BasicsBundle\Form\Type\OroOrganizationChoiceType
            ui_only: true
            options:
                label: ehdev.basics.system_configuration.groups.bg_organization.title
                resettable: false
                required: false
            priority: 10

    tree:
        system_configuration:
            platform:
                children:
                    integrations:
                        children:
                            ehdev_basics_settings:
                                children:
                                    ehdev_basics_googlemaps:
                                        children:
                                            - ehdev_basics.googlemaps_api_key
                                    ehdev_basics_message_queue:
                                        children:
                                            - ehdev_basics.bg_username
                                            - ehdev_basics.bg_organization
