<div class="widget-content">
    <script type="text/javascript">
        loadModules(['underscore', 'orotranslation/js/translator', 'oroui/js/widget-manager',
                'oroui/js/messenger', 'oroui/js/mediator'],
            function(_, __, widgetManager, messenger, mediator) {
                widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                    {% block requireAction %}
                        mediator.trigger('widget_success:' + widget.getAlias());
                        mediator.trigger('widget_success:' + widget.getWid());
                        widget.remove();
                    {% endblock %}
                });
            });
    </script>
    {% block content %} {% endblock %}
</div>
